 {% extends 'home/base.html' %}
 {%block title%}
 Index Info
 {%endblock title%}
 {% block sevicesactive %} active {% endblock sevicesactive %}
{% block body %}
<div class = "center-block">
<div class = "container"> 
<h3> Index : </h3>
     <div class="card" style="width: 18rem;">
     <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
         <div class="card-header">
          {{index_quote.name}}
         </div>
         <ul class="list-group list-group-flush">
         <li class="list-group-item"> Last Traded Price :  {{index_quote.lastPrice}} </li>
         <li class="list-group-item"> Change :  {{index_quote.change}}</li>
         <li class="list-group-item"> pChange :  {{index_quote.pChange}}</li>
         </ul>
     </div>
     </div>
    </div>
    {% comment %} <div class="card" style="width: 18rem;">
        {% for info in index_quote %}
         <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ info }}</li>
         </ul>
         {% endfor %}
    </div> {% endcomment %}
    {% comment %} <div class="list-group" id = "index_quote" name = "index_quote">
    {% for info in index_quote %}
    <a class="list-group-item list-group-item-action list-group-item-primary my-2">
     <li> {{ info }} </li>
     </a>
     {% endfor %}
    </div> {% endcomment %}
</div>
{% endblock body %}