{% extends 'base.html' %}
{%block title%}
Index Info
{%endblock title%}
{% block sevicesactive %} active {% endblock sevicesactive %}
{% block body %}
<div class="container"></div>
<h3> Indexes : </h3>
<div class="list-group " action="/index_Info">
    {% for stock in index_codes %}
    <a href="/indexInfo/?stock_id={{ stock }}"
        class="list-group-item list-group-item-action list-group-item-primary my-2" id="{{ stock }}"
        name=" {{ stock }} ">
        <li>{{ stock }}</li>
        {% comment %} <li>{{index_quote}}</li> {% endcomment %}
    </a>
    {% endfor %}
</div>
</div>
</div>
{% endblock body %}