{% extends 'home/base.html' %}
 {%block title%}
 Index Info
 {%endblock title%}
 {% block sevicesactive %} active {% endblock sevicesactive %}
{% block body %}
<div class="container">
<h3> Top futures and Options Gainers : </h3>
    <div class="list-group">
    <table style="width:100%" class="table table-striped table-bordered">
     <thead class="thead-dark"></thead>
  <tr>
    <th>Stock Names </th>
    <th>Open Price</th>
    <th>High Price</th>
    <th> Traded Quantity </th>
    <th>Last Announcement</th>
  </tr>
 
  {% comment %} {% endfor %} {% endcomment %}
  {% for stk in topFnoGainer %}
    <tr>
      <td class="my-4">
        <a href="/quote_info/?stock_id={{ stk.symbol }}" id = "{{ stk.symbol }}" name ="{{ stk.symbol }}"> 
          <ul> {{ stk.symbol }}</ul>
        </a>
      </td>
      <td>
        <ul> {{ stk.openPrice }} </ul>
      </td>
      <td>
        <ul> {{ stk.highPrice }} </ul>
      </td>
      <td>
        <ul> {{ stk.tradedQuantity }} </ul>
      </td>
      <td>
        <ul> {{ stk.lastCorpAnnouncement }} </ul>
      </td>  
    </tr>
    {% endfor %}
</table>
</div>
{% endblock body %}
      